.HomeContainer {
    margin-left: 22rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
    width: 75%;
}
.HomeContent {
    width: calc(100% - 4rem)
}
hr {
    color: #fefefe;
}
.HomeText {
    width: 85%;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}
.HomeChart {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

@media only screen and (min-width: 769px) {
    .HomeChart1 {
        width: 55%;
    }
    .HomeChart2 {
        width: 45%;
        margin: auto;
    }
    .ExampleContainer1 {
        width: 25%;
    }
}
@media only screen and (max-width: 768px) {
    .HomeChart1 {
        width: 90%;
    }
    .HomeChart2 {
        width: 90%;
        margin: auto;
    }
    .ExampleContainer1 {
        width: 55%;
    }
}

.ExampleContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.ExampleContainer1 {
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.9);
    border-radius: 10px;
    transition: 0.3s;
    margin-left:1.5%;
    margin-right:1.5%;
    margin-bottom: 60px;
}
.ExampleContainer1:hover {
    box-shadow: 0 0 6px 0 #269ca0;
}
.ExampleContainer1 a {
    text-decoration: none;
    color: inherit;
}
.ExampleContainer1 h4 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: 0;
}