/*############################## Buttons ##############################*/
.btn{
    background: transparent;
    border-radius: 28px;
    border: 2px solid #9dc3d6;
    color: #2db7b7;
    transition: 0.5s;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin-left: 25px;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover{
    background: #2db7b7;
    border-radius: 28px;
    border: 2px solid #2db7b7;
    color: #fff;
    transition: 0.5s;
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    margin-left: 25px;
    text-decoration: none;
    cursor: pointer;
}
/*############################## Forms ##############################*/
/*######### New/Edit Item Form #########*/
.new-item-form, .edit-item-form {
    width: 100%;
    padding-top: 25px;
    background: #ffffff;
    font-size: 18px;
}
.new-item-form input[type="text"],
.new-item-form input[type="date"],
.new-item-form input[type="datetime"],
.new-item-form input[type="email"],
.new-item-form input[type="number"],
.new-item-form input[type="search"],
.new-item-form input[type="time"],
.new-item-form input[type="url"],
.new-item-form textarea,
.new-item-form select,
.edit-item-form input[type="text"],
.edit-item-form input[type="date"],
.edit-item-form input[type="datetime"],
.edit-item-form input[type="email"],
.edit-item-form input[type="number"],
.edit-item-form input[type="search"],
.edit-item-form input[type="time"],
.edit-item-form input[type="url"],
.edit-item-form textarea,
.edit-item-form select
{
    font-family: inherit;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    color: #202020;
}
.new-item-form input[type="text"]:focus,
.new-item-form input[type="date"]:focus,
.new-item-form input[type="datetime"]:focus,
.new-item-form input[type="email"]:focus,
.new-item-form input[type="number"]:focus,
.new-item-form input[type="search"]:focus,
.new-item-form input[type="time"]:focus,
.new-item-form input[type="url"]:focus,
.new-item-form textarea:focus,
.new-item-form select:focus,
.edit-item-form input[type="text"]:focus,
.edit-item-form input[type="date"]:focus,
.edit-item-form input[type="datetime"]:focus,
.edit-item-form input[type="email"]:focus,
.edit-item-form input[type="number"]:focus,
.edit-item-form input[type="search"]:focus,
.edit-item-form input[type="time"]:focus,
.edit-item-form input[type="url"]:focus,
.edit-item-form textarea:focus,
.edit-item-form select:focus
{
    box-shadow: 0 0 5px #2db7b7;
    padding: 15px;
    border: 1px solid #2db7b7;
}
input[type="text"]:disabled {
    background: #dddddd;
    border: 1px solid #dddddd;
    color: #626262;
}
.new-item-form input[type="submit"],
.new-item-form input[type="button"],
.edit-item-form input[type="submit"],
.edit-item-form input[type="button"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    float: left;
    padding: 15px;
    background: #2db7b7;
    border: 2px solid #238e8e;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.new-item-form input[type="reset"],
.edit-item-form input[type="reset"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    float: left;
    margin-right: 25px;
    padding: 15px;
    background: #fff;
    border: 2px solid #2db7b7;
    color: #2db7b7;
    font-size: 18px;
}
.btn-add{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100% !important;
    float: left;
    padding: 13.75px;
    background: #fff;
    border: 2px solid #2db7b7;
    color: #2db7b7;
    font-size: 18px;
    margin-bottom: 10px;
}
.new-item-form input[type="submit"]:hover,
.new-item-form input[type="button"]:hover
.edit-item-form input[type="submit"]:hover,
.edit-item-form input[type="button"]:hover
{
    background: #28a3a3;
    transition: 0.5s;
    cursor: pointer;
}
.new-item-form input[type="reset"]:hover,
.edit-item-form input[type="reset"]:hover,
.btn-add:hover
{
    background: #28a3a3;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.new-item-form p,
.edit-item-form p{
    font-size: 16px;
    color: #3e3e3e;
}
/*############################## Show All Table ##############################*/
.UserDevice, .ShowUserDevice{
    margin-top: 0;
}
table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #f0f0f0;
}
.UserDeviceHead, .NewUserDevice, .ShowUserDeviceHead{
    color: #2db7b7;
    background-color: white;
    font-size: inherit;
}
.ActionField{
    margin-top: 25px;
}
thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2db7b7;
    color: white;
    font-size: larger;
}
.UserDeviceHead th:first-child, .ShowUserDeviceHead th:first-child {
    width: 25px;
}
.UserDeviceBody th:first-child, .ShowUserDeviceHead th:first-child{
    width: 25px;
    text-align: center;
}
.NewUserDeviceHead th:last-child{
    width: auto;
}
.NewUserDeviceBody th:last-child{
    width: auto;
    text-align: center;
}

.All th:first-child, .All th:nth-child(2) {
    width: 25px;
    text-align: center;
    font-size: 20px;
}
.All th:nth-child(3){
    width: 25px;
    text-align: center;
}

.AllUser th:nth-child(1), .AllUser th:nth-child(2), .AllUser th:nth-child(7){
    width: 25px;
    text-align: center;
    font-size: 20px;
}
.AllUser th:nth-child(3) {
    width: 25px;
    text-align: center;
}

tr{
    text-align: left;
}
/*############################## Loader ##############################*/
.sweet-loading{
    margin-top: 50px;
}
/*############################## Icons ##############################*/
.fa-trash{
    color: #b01817;
    cursor: pointer;
}
.fa-edit {
    color: #28a3a3;
    cursor: pointer;
}
table a i {
    color: #28a3a3;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
