.Bottombar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191919;
}
.Bottombar ul li {
  float: left;
  /* width: 25%; */
  width: 33.33%;
}
.Bottombar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  list-style-type: none;
}
.Bottombar ul li a:hover {
  background-color: #202020;
}
.Bottombar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
@media only screen and (min-width: 768px) {
  .Bottombar i {
    font-size: 20px;
  }
  p {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .Bottombar {
    display: none;
  }
}