/*################################################ General App Setting #################################################*/
.wrapper {
  text-align: center;
  margin-bottom: 75px; /* Add a top margin to avoid content overlay with bottom menu */
}
.App-intro {
  font-size: large;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*##################################################### Navigation bar #####################################################*/
/*########################## Navigationbar ##########################*/
.Navigationbar {
  height: 75px;
  background-color: #f6fbfd;
  top: 0;
  position: relative;
}
.Navigation {
  width: 50%;
  float: left;
}
.Logout {
  width: 50%;
  float: right;
}
/*########################## Menu ##########################*/
.menu{
  display: inline;
  cursor: pointer;
  z-index: 999 !important;
}
.hamburger1, .hamburger2, .hamburger3{
  position:fixed;
  z-index: 99999;
  width: 35px;
  height: 5px;
  background-color: #0a242d;
  margin: 6px 0;
  margin-left:15px;
  cursor: pointer;
}
.menu .hamburger1{
  top: 15px;
}
.menu .hamburger2{
  top: 25px;
}
.menu .hamburger3{
  top: 35px;
}
.overlay{
  display: flex;
  height: 100%;
  background: #30C4C9;
  left: 0;
  width: 20rem;
  transition: transform 0.5s;
  transform: translate(-20rem, 0);
  position: fixed;
}
.overlay.open {
  transform: translate(0, 0);
}
.overlay ul {
  margin-top: 100px;
  padding-left: 0px;
  font-size: 2em;
  font-weight: 400;
}
.overlay ul li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(10,36,45,0.2);
  list-style-type: none !important;
  width: 20rem;
  text-align: left;
}
.overlay ul li:hover {
  background-color: rgba(10,36,45,0.2);
  color: white;
}
.overlay ul li a {
  text-decoration: none;
  color: white;
  padding-left: 25px;
}
.navigation i{
  padding-right: 15px;
}
/*######################### Logout ########################*/
.Logout i{
  margin-top: 15px;
  margin-right: 15px;
  float:right;
  font-size: 40px;
  color: #0a242d;
}
/*##################################################### App-Blocks #####################################################*/
/*########################## App-Block1 ##########################*/
.App-Block1 {
  background-color: #f6fbfd;
  height: 100%;
  padding: 20px;
  padding-bottom: 50px;
  color: #0a242d;
}
/*########################## App-Block2 ##########################*/
.App-Block2 {
  background-image: url("./img/background_dark.jpg");
  background-size: cover;
  min-height: 350px;
  height: 100%;
  padding: 50px;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.App-Block2 table{
  margin: auto !important;
}
@media (max-width:900px) {
  .App-Block2 #column1 {
    width: 60%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 #column2 {
    width: 15%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 table {
    width: 75%;
  }
}
@media (min-width:900px) {
  .App-Block2 #column1 {
    width: 35%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 #column2 {
    width: 10%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 table {
    width: 45%;
  }
}
/*########################## App-Block3 ##########################*/
  .App-Block3 {
    background-color: #f6fbfd;
    height: 100%;
    color: #222222;
    width: 100%;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 100px !important;
  }
  .App-Block3 table{
    margin: auto;
    width: 90%;
    line-height: 1.5em;
  }
  .App-Block3 h1{
    color: #0a242d;
    margin-top: 0px;
    margin-bottom: 25px;
  }
/*##################################################### Buttons #####################################################*/
/*########################## Normal Button ##########################*/
.btn{
  background: transparent;
  border-radius: 28px;
  border: 2px solid #0a242d;
  color: #0a242d;
  padding: 10px 20px 10px 20px;
  margin-bottom: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover{
  background: #0a242d;
  color: #ffffff;
}
/*########################## Buttons with arrows ##########################*/
.btn2{
  background: #eef8fc;
  border-radius: 28px;
  border: none;
  color: #0a242d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
.btn2 span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn2 span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn2:hover span{
  padding-right: 25px;
}
.btn2:hover span:after{
  opacity: 1;
  right: 0;
}
/*########################## Cancelled Button ##########################*/
.btn3{
  background: transparent;
  border-radius: 28px;
  border: 2px solid #eef8fc;
  color: #eef8fc;
  font-size: 13px;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
/*##################################################### Statistics #####################################################*/
/*########################## Statistics1 ##########################*/
@media (max-width:900px) {
  .Statistics1 {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    width: 90%;
    float: left;
  }
}
@media (min-width:900px) {
  .Statistics1 {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
    width: 40%;
    float: left;
  }
}
/*########################## Statistics3 ##########################*/
.Statistics2 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  width: 90%;
  float: left;
  margin-bottom: 100px;
}

