.App {
  text-align: center;
  margin-bottom: 70px; /* Add a top margin to avoid content overlay */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-Block1 {
  background-color: #ededed;
  min-height: 250px;
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  color: #222222;
}
.App-Block2 {
  background-color: #222;
  min-height: 250px;
  height: 100%;
  padding: 20px;
  color: white;

}.App-Block3 {
  background-color: #222;
  min-height: 250px;
  height: 100%;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
table{
  max-width: 50%;
  margin: auto;
}
td{
  text-align: left;
  padding-left: 20px;
}
.btn{
  background: transparent;
  border-radius: 28px;
  border: 2px solid #202020;
  color: #202020;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover{
  background: #202020;
  color: #ffffff;
  text-decoration: none;
}
.btn2{
  background: #ededed;
  border-radius: 28px;
  border: none;
  color: #202020;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn2:hover{
  background: #D0D0D0;
  border-radius: 28px;
  color: #202020;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

column1{
  max-width: 70%;
  text-align: left;
}
column2{
  max-width: 30%;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  position: relative;
}
body .wrapper {
  width: 100%;
}
.navigation {
  background-color: #ededed;
}
body .wrapper .menu{
  display: inline;
  margin: 50px;
  cursor: pointer;
  z-index: 999 !important;
}

#hamburger1, #hamburger2, #hamburger3 {
  position:absolute;
  z-index: 999;
}

body .wrapper .menu #hamburger1{
  width: 35px;
  height: 5px;
  top: 20px;
  background-color: black;
  margin: 6px 0;
  margin-left:15px;
  cursor: pointer;
}body .wrapper .menu #hamburger2{
  width: 35px;
  height: 5px;
  top: 30px;
  background-color: black;
  margin: 6px 0;
  margin-left:15px;
  cursor: pointer;
}body .wrapper .menu #hamburger3{
  width: 35px;
  height: 5px;
  top: 40px;
  background-color: black;
  margin: 6px 0;
  margin-left:15px;
  cursor: pointer;
}
body .wrapper .title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -50px;
  width: 50%;
  margin-left: -25%;
  text-align: center;
}
body .wrapper .title h1 {
  color: #30C4C9;
}
body .wrapper .overlay {
  position: absolute;
  bottom: -99%;
  height: 100%;
  background: #30C4C9;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
}
body .wrapper .overlay.anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out normal;
  width: 25%;
  transition: all 0.5s ease;
}
body .wrapper .overlay.anim.reverse-anim {
  left: 0;
  bottom: 0;
  animation: menu-anim 1.5s 1 ease-out reverse;
  width: 25%;
  transition: all 0.5s ease;
}
body .wrapper .overlay ul {
  width: 100%;
  text-align: left;
  margin-top: 100px;
  padding-left: 0;
  margin-left: 25px;
  font-size: 2em;
  font-weight: 800;
  background-color: transparent;
}
body .wrapper .overlay ul li {
  margin: 10px 0;
  float: none !important;
}
body .wrapper .overlay ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 10px 0;
  overflow: hidden;
  text-align: left;

}
body .wrapper .overlay ul li a:after {
  border-radius: 2px;
  content: '';
  left: 0;
  bottom: -10px;
  height: 5px;
  background: #ffffff;
  transform: translateX(-101%);
}
body .wrapper .overlay ul li a:hover {
  text-decoration: none;
  background-color: transparent;
}
body .wrapper .overlay ul li a:hover:after {
  animation: border-anim 0.5s 1 ease normal;
  transform: translateX(0);
}
@-webkit-keyframes border-anim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes menu-anim {
  0% {
    left: 0;
    bottom: -99%;
    width: 100%;
  }
  33% {
    left: -99.5%;
    bottom: -99%;
    width: 100%;
  }
  66% {
    left: -99.5%;
    bottom: 0;
    width: 100%;
  }
  100% {
    bottom: 0;
    left: 0;
    width: 25%;
  }
}

