/*################################################ General App Setting #################################################*/
.wrapper {
  text-align: center;
  margin-bottom: 75px; /* Add a top margin to avoid content overlay with bottom menu */
}
.App-intro {
  font-size: large;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: relative;
  z-index: -1;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*##################################################### Navigation bar #####################################################*/
/*########################## Navigationbar ##########################*/
.Navigationbar {
  height: 75px;
  background-color: rgba(48,196,201,0.05);
  top: 0;
  position: relative;
}
.Navigation {
  width: 50%;
  float: left;
}
.Logout {
  width: 50%;
  float: right;
}
/*########################## Menu ##########################*/
.overlay.open {
  transform: translate(0, 0);
}
@media only screen and (max-width: 767px) {
  .menu{
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 40px;
    z-index: 9999;
    position: fixed;
  }
  .overlay ul {
    margin-top: 100px;
    padding-left: 0;
    font-size: 1.2em;
    font-weight: 400;
  }
  .overlay ul li {
    padding: 20px 0;
    border-bottom: 1px solid rgba(10,36,45,0.2);
    list-style-type: none !important;
    text-align: left;
    width: 15rem;

  }
  .overlay{
    display: flex;
    height: 100%;
    background: #30C4C9;
    left: 0;
    width: 15rem;
    transition: transform 1s;
    transition-timing-function: ease-in-out;
    transform: translate(-15rem, 0);
    position: fixed;
  }
}
@media only screen and (min-width: 768px) {
  .menu{
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 40px;
    z-index: 9999;
    position: fixed;
  }
  .overlay ul {
    margin-top: 100px;
    padding-left: 0;
    font-size: 1.2em;
    font-weight: 400;
  }
  .overlay ul li {
    padding: 20px 0;
    border-bottom: 1px solid rgba(10,36,45,0.2);
    list-style-type: none !important;
    text-align: left;
    width: 15rem;
  }
  .overlay{
    display: flex;
    height: 100%;
    background: #30C4C9;
    left: 0;
    width: 15rem;
    transition: transform 0.75s;
    transition-timing-function: ease-in-out;
    transform: translate(-15rem, 0);
    position: fixed;
  }
}

.overlay ul li:hover {
  background-color: rgba(10,36,45,0.2);
  color: white;
}
.overlay ul a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 75px;
  padding-bottom: 20px;

}
.navigation i{
  padding-right: 15px;
}
.navigation ul i{
  padding-left: 15px;
}
/*######################### Logout ########################*/
.Logout i{
  margin-top: 15px;
  margin-right: 15px;
  float:right;
  font-size: 40px;
  color: #0a242d;
}
/*##################################################### App-Blocks #####################################################*/
/*########################## App-Block1 ##########################*/
.App-Block1 {
  background-color: rgba(48,196,201,0.05);
  height: 100%;
  padding: 20px;
  padding-bottom: 50px;
  color: #0a242d;
}
/*########################## App-Block2 ##########################*/
.App-Block2 {
  background-image: url("./img/background_dark.jpg");
  background-size: cover;
  min-height: 350px;
  height: 100%;
  padding: 50px;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.App-Block2 table{
  margin: auto !important;
}
@media (max-width:900px) {
  .App-Block2 #column1 {
    width: 60%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 #column2 {
    width: 15%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 table {
    width: 75%;
  }
}
@media (min-width:900px) {
  .App-Block2 #column1 {
    width: 35%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 #column2 {
    width: 10%;
    padding-bottom: 25px;
    text-align: left;
  }
  .App-Block2 table {
    width: 45%;
  }
}
/*########################## App-Block3 ##########################*/
  .App-Block3 {
    background-color: #f6fbfd;
    height: 100%;
    color: #222222;
    width: 100%;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 100px !important;
  }
  .App-Block3 table{
    margin: auto;
    width: 90%;
    line-height: 1.5em;
  }
  .App-Block3 h1{
    color: #0a242d;
    margin-top: 0;
    margin-bottom: 25px;
  }
/*##################################################### Buttons #####################################################*/
/*########################## Normal Button ##########################*/
.btn{
  background: transparent;
  border-radius: 28px;
  border: 2px solid #0a242d;
  color: #0a242d;
  padding: 10px 20px 10px 20px;
  margin-bottom: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover{
  background: #0a242d;
  color: #ffffff;
}
/*########################## Buttons with arrows ##########################*/
.btn2{
  background: #eef8fc;
  border-radius: 28px;
  border: none;
  color: #0a242d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  z-index: 5;
}
/*
.btn2 span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn2 span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn2:hover span{
  padding-right: 25px;
}
.btn2:hover span:after{
  opacity: 1;
  right: 0;
}
*/
/*########################## Cancelled Button ##########################*/
.btn3{
  background: transparent;
  border-radius: 28px;
  border: 2px solid #eef8fc;
  color: #eef8fc;
  font-size: 13px;
  font-weight: 900;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
/*##################################################### Statistics #####################################################*/
.Statistics{
    padding-bottom: 100px;
    margin: auto;
    width: 50%;
}
/*##################################################### Loader #####################################################*/
.sweet-loading{
  margin-top: 50px;
}
/*##################################################### User Settings #####################################################*/
.UserSettings{
  max-width: 70%;
  margin: 10px auto;
  padding: 16px;
  background: #ffffff;
  font-size: 18px;
  margin-bottom: 100px;
}
.UserSettings h1{
  background: #21898c;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.UserSettings input[type="text"],
.UserSettings input[type="date"],
.UserSettings input[type="datetime"],
.UserSettings input[type="email"],
.UserSettings input[type="number"],
.UserSettings input[type="search"],
.UserSettings input[type="time"],
.UserSettings input[type="url"],
.UserSettings textarea,
.UserSettings select
{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
}
.UserSettings input[type="text"]:focus,
.UserSettings input[type="date"]:focus,
.UserSettings input[type="datetime"]:focus,
.UserSettings input[type="email"]:focus,
.UserSettings input[type="number"]:focus,
.UserSettings input[type="search"]:focus,
.UserSettings input[type="time"]:focus,
.UserSettings input[type="url"]:focus,
.UserSettings textarea:focus,
.UserSettings select:focus
{
  box-shadow: 0 0 5px #21898c;
  padding: 3%;
  border: 1px solid #21898c;
}

.UserSettings input[type="submit"],
.UserSettings input[type="reset"],
.UserSettings input[type="button"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 49%;
  padding: 3%;
  background: #21898c;
  border-bottom: 2px solid #186264;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  font-size: 18px;
}
.UserSettings input[type="submit"]:hover,
.UserSettings input[type="reset"]:hover,
.UserSettings input[type="button"]:hover{
  background: #269ca0;
}